.Button {
  display: block;
  margin-top: 2.5rem;
  width: 100%;
  height: 2rem;
  min-width: 4rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  outline: 0;
  border-style: none;
  cursor: pointer;
  background-color: #ee8791;
}
