.NDigitBall {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
  text-align: center;
  border-width: 5px;
  border-style: double;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  border-radius: 10rem;
  cursor: default;
  background-color: #fff;
  color: #333;
  font-size: 0.8rem;
}
