.purchase-amount-form {
  margin-top: 2rem;
  display: flex;
}

.purchase-amount-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.purchase-amount-text {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.purchase-amount-input {
  margin-top: 0.5rem;
  margin-right: 0.8rem;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  box-sizing: border-box;
  align-items: flex-end;
}

.purchase-amount-input:focus {
  outline-color: #ee8791;
}

.purchase-button-wrapper {
  display: flex;
  align-items: flex-end;
}

.purchase-button {
  background-color: #ee8791;
}

.purchase-button:focus {
  outline-color: #c93c4a;
}

.validation-message {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: #666;
}
