.money-input-form {
  position: relative;
}

.money-unit {
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(83, 83, 83);
}

.money-input-button {
  position: absolute;
  right: 7.3rem;
  top: -0.2rem;
}
