.draw-number-wrapper {
}

.draw-number-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-number-title {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
  color: #333;
}

.plus-sign {
  font-size: 0.75rem;
  font-weight: 800;
  color: #666;
  margin: 0 0.25rem;
}

.bonus-number-title {
  font-size: 0.75rem;
  color: #666;
}
