.WinningNumberList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.WinningNumberList__plus_sign {
  font-size: 0.75rem;
  font-weight: 800;
  color: #666;
  margin: 0 0.25rem;
}

.WinningNumberList__bonus_number {
  font-size: 0.75rem;
  color: #666;
}
