.number-input {
  padding: 0.3rem;
  font-size: 1rem;
  min-width: 8rem;
  border-width: 0 0 1px 0;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.winning-number,
.bonus-number {
  margin-right: 0.5rem;
  min-width: 1.2rem;
  max-width: 1.4rem;
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  text-align: center;
}

.ball-section {
  max-width: 30rem;
}

.money-input {
  padding: 0.3rem;
  font-size: 1rem;
  min-width: 8rem;
  border-width: 0 0 1px 0;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 10rem;
  max-width: 30rem;
  width: 50%;
}
