.winning-result {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
}

.winning-result.open {
  opacity: 1;
  visibility: visible;
  padding: 2.5rem;
}

.winning-result-inner {
  transition: top 0.25s ease;
  max-width: 400px;
  margin: 0 auto;
  height: fit-content;
  max-height: 90%;
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
  overflow: auto;
  z-index: 2;
  top: 3rem;
}

.winning-result-title {
  text-align: center;
}

.result-table-wrapper {
  display: flex;
  justify-content: center;
}

.result-table {
  border-width: 1px;
  border-collapse: collapse;
  border-radius: 1em;
  border-color: black;
  overflow: hidden;
  font-size: 0.9rem;
}

.table-row {
  text-align: center;
}

.table-head,
.table-data {
  min-width: 2rem;
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid gainsboro;
}

.profit,
.rate-of-return {
  text-align: end;
  font-size: 0.9rem;
  color: #333;
}

.profit {
  margin-top: 1.75rem;
  margin-bottom: 0.25rem;
}

.rate-of-return {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.description {
  display: inline-block;
  min-width: 4rem;
  text-align: start;
  font-weight: bold;
}

.value {
  display: inline-block;
  width: 4.5rem;
  text-align: end;
  font-weight: bold;
}

.reset-button-wrapper {
  display: flex;
  justify-content: center;
}

.reset-button {
  margin-top: 1.25rem;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  outline: 0;
  border-style: none;
  cursor: pointer;
  background-color: #ee8791;
}

.reset-button:focus {
  outline-color: #c93c4a;
}

.coin-animation {
  margin: 10rem auto 0;
}

@media screen and (max-width: 768px) {
  .winning-result-inner {
    width: 90%;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
  }
}
