.UserResultTable {
  display: flex;
  justify-content: center;
}

.UserResultTable__table {
  border-width: 1px;
  border-collapse: collapse;
  border-radius: 1em;
  border-color: black;
  overflow: hidden;
  font-size: 0.9rem;
}

.UserResultTable__row {
  text-align: center;
}

.UserResultTable__head,
.UserResultTable__data {
  min-width: 2rem;
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid gainsboro;
}

.UserResult__reset_button_wrapper {
  display: flex;
  justify-content: center;
}

.UserResult__reset_button {
  margin-top: 1.25rem;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  outline: 0;
  border-style: none;
  cursor: pointer;
  background-color: #ee8791;
}

.UserResult__reset_button:focus {
  outline-color: #c93c4a;
}

.Record__wrapper {
  margin: 2rem 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .UserResult__inner {
    width: 90%;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
  }
}
