.app {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.005);
  padding: 3.5rem 2.5rem;
  border-radius: 1.5rem;
  width: 400px;
  min-height: 500px;
  box-shadow: 6px 10px 20px rgb(0, 0, 0, 0.15);
}

.header {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin: 0;
}
