/* TODO: 속성, 특징에 따라 파일 분류하기, 순서 정리 */

.app {
  width: 100vw;
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.hidden {
  display: none;
}

.main-container {
  width: 360px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  border-radius: 1rem;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.pl-1 {
  padding-left: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.money-input {
  width: 82%;
  height: 32px;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
}

.basic-button {
  height: 32px;
  box-sizing: border-box;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(255, 233, 110);
  outline: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.submit-button:hover {
  background-color: rgb(255, 217, 1);
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-button input:checked + .toggle-slider {
  background-color: rgb(255, 233, 110);
}

.toggle-button input:focus {
  box-shadow: 0 0 1px #ccc;
}

.toggle-button input:checked + .toggle-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.lotto-list {
  padding: 0;
  margin: 0;
}

.lotto-item {
  display: flex;
  list-style: none;
  margin-bottom: 0.25rem;
  align-items: center;
}

.lotto-icon {
  font-size: x-large;
  margin-right: 0.25rem;
}

fieldset {
  border: none;
  padding: 0.25rem 0.25rem;
}

.winning-number-input {
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.flex-auto {
  flex: 1 1 auto;
}

.font-bold {
  font-weight: bold;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-inner {
  position: relative;
  width: 360px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  border-radius: 1rem;
}

.modal-close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

svg {
  display: block;
}

.close-x {
  stroke: gray;
  stroke-width: 5px;
  stroke-linecap: round;
  fill: transparent;
}

table {
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ccc;
}
