@import './layout.css';
@import './button.css';
@import './typography.css';
@import './modal.css';
@import './space.css';

.app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  border: none;
  padding: 0.25rem 0.25rem;
}

.w-100 {
  width: 100%;
}

.main-container {
  width: 360px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  border-radius: 1rem;
  margin: 5rem 0;
}

.money-input {
  width: 82%;
  height: 32px;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
}

.lotto-list {
  padding: 0;
  margin: 0;
}

.lotto-item {
  display: inline;
  list-style: none;
  align-items: center;
}

.lotto-item.toggle {
  display: flex;
  margin-bottom: 0.25rem;
}

.lotto-icon {
  font-size: xx-large;
  margin-right: 0.25rem;
}

.lotto-item.toggle .lotto-icon {
  font-size: x-large;
}

.winning-number-input {
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
  text-align: center;
}
