.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: 1 1 auto;
}

.d-flex {
  display: flex;
}
