.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal-inner {
  position: relative;
  width: 360px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  border-radius: 1rem;
}

.modal-close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.modal-close-button:focus {
  background-color: rebeccapurple;
}

svg {
  display: block;
}

.close-x {
  stroke: gray;
  stroke-width: 5px;
  stroke-linecap: round;
  fill: transparent;
}

table {
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ccc;
}
