.Modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
}

.Modal--open {
  opacity: 1;
  visibility: visible;
  padding: 2.5rem;
}

.Modal__Inner--loading {
  margin: 10rem auto 0;
}

.Modal__Inner {
  transition: top 0.25s ease;
  max-width: 400px;
  margin: 0 auto;
  height: fit-content;
  max-height: 90%;
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
  overflow: auto;
  z-index: 2;
  top: 3rem;
}

@media screen and (max-width: 768px) {
  .Modal__Inner {
    width: 90%;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
  }
}
