.zeros {
  border-color: #ffc3c8;
}

.tens {
  border-color: #fc8d98;
}

.twenties {
  border-color: #ff818e;
}

.thirties {
  border-color: #ff495b;
}

.forties {
  border-color: #c11c2d;
}

.not-matched {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  border-color: #aaa;
}
